* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.main-container {
	padding: 10px;
	height: 100vh;
	background-color: turquoise;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.item {
	width: 75%;
}

.black {
	background-color: black;
	border-radius: 15px;
	flex-grow: 1;
}

.second-container {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
	flex-grow: 5;
}

.third-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 2;
}

.green {
	background-color: chartreuse;
	border-radius: 15px;
	flex-grow: 3;
}

.orange {
	background-color: orange;
	border-radius: 15px;
	flex-grow: 1;
}

.beige {
	background-color: beige;
	border-radius: 15px;
	flex-grow: 1;
}
.blue {
	background-color: darkblue;
	flex-grow: 1;
	border-radius: 15px;
}

@media screen and (min-width: 768px) {
	.third-container {
		flex-direction: row-reverse;
		flex-grow: 1;
	}
	.green {
		flex-grow: 4;
	}
	.orange {
		flex-grow: 2;
	}
	.beige {
		flex-grow: 1;
	}
}
@media screen and (min-width: 992px) {
	.second-container {
		flex-direction: row;
	}
	.third-container {
		flex-direction: column;
		flex-grow: 1;
	}
	.green {
		flex-grow: 5;
	}
}
